@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
#fd7e14 orange
#f8f9fa grey
font-family: "Poppins", sans-serif;
font-family: "Inter", sans-serif;
*/
/*
Mobile-first breakpoints:
- Base: Mobile (320px–480px)
- @media (min-width: 481px): Tablets
- @media (min-width: 769px): Small screens, laptops
- @media (min-width: 1025px): Desktops, large screens
- @media (min-width: 1201px): Extra large screens, TV
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #f8f9fa;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.content-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 10px;
  color: #000000;
  height: auto;
  padding: 12px 0;
}

.contact-left,
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-item img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  max-width: 100%;
  border-radius: 20px;
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  gap: 10px;
  padding: 12px 20px;
  margin: 0 auto;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

nav ul:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav img {
  height: 24px;
  width: 24px;
}

.search {
  width: 100%;
  max-width: 280px;
  height: 36px;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  border-radius: 18px;
  padding: 8px 5px 8px 12px;
  gap: 8px;
  justify-content: space-between;
  z-index: 4;
}

.search-text {
  opacity: 0.6;
  font-weight: 400;
  font-size: 0.875rem;
}

.search img {
  height: 24px;
  width: 24px;
}

nav a.active {
  color: #fd7e14;
  border-bottom: 3px solid #fd7e14;
  padding-bottom: 2px;
}

nav a:hover {
  color: #fd7e14;
}

.logo img {
  margin-top: 5px;
  width: 100px;
  height: auto;
}

.menu {
  display: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.menu.active {
  display: flex;
}

.menu ul {
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
}

.menu ul li a {
  margin-right: 0;
}

.burger-menu {
  display: block;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.burger-menu::before,
.burger-menu::after,
.burger-menu span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition: all 0.3s ease;
}

.burger-menu::before {
  top: 0;
}

.burger-menu span {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu::after {
  bottom: 0;
}

.burger-menu.active::before {
  transform: rotate(45deg);
  top: 50%;
}

.burger-menu.active span {
  opacity: 0;
}

.burger-menu.active::after {
  transform: rotate(-45deg);
  bottom: 50%;
}

.blob-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 70%;
  max-width: 150px;
  height: auto;
  z-index: -1;
}

.blob-top {
  position: absolute;
  top: 20%;
  left: 20%;
  max-width: 100px;
  z-index: -1;
}

.blob-top img,
.petuh img,
.big-ahh-picture img,
.blob-bottom img {
  width: 100%;
}

.big-ahh-picture {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  z-index: -1;
}

.petuh {
  position: absolute;
  top: 30%;
  width: 20%;
  right: 30%;
  z-index: -1;
}

.hero-frame {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 40px;
  z-index: 2;
}

.hero-frame h3 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  opacity: 0.8;
  font-weight: 400;
  max-width: 80%;
  margin-bottom: 30px;
}
.hero-frame h4 {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #fd7e14;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: -1px 1px 6px #f8f9fa;
}

.hero-frame h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-frame button {
  font-family: "Poppins", sans-serif;
  background-color: #090706;
  color: #ffff;
  font-weight: 600;
  border-radius: 12px;
  padding: 17px 40px;
  gap: 10px;
  width: auto;
  border: #000000;
}

.categories {
  padding: 10px;
}

.categories-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.categories-nav span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.categories-nav img {
  width: 80px;
  height: auto;
}

.categories-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.categories-card {
  position: relative;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: flex-end;
  transition: transform 0.2s ease;
}

.categories-card:hover {
  transform: translateY(-5px);
}

.card-info {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.card-info h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.card-info p {
  margin: 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.6;
}

.card-info img {
  width: 30px;
  height: 30px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.featured-products {
  background-color: #ffffff;
  padding: 10px;
}

.featured-products h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}

.fp-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.fp-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease;
}

.fp-card img {
  width: 100%;
}

.fp-card:hover {
  transform: translateY(-5px);
}

.fp-card-info {
  background-color: #ffffff;
  display: flex;
}

.fp-card-text {
  font-family: "Poppins", sans-serif;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.fp-card-text h2 {
  font-weight: 600;
  font-size: 20px;
}

.fp-card-text p {
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}

.fp-card-info img {
  width: 24px;
  height: 24px;
  margin: auto 10px;
  cursor: pointer;
}

.info-block {
  background-color: #f8f9fa;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 60px 40px;
  margin: 20px 0;

  background-image: url("../images/info block/big-ahh-picture2.svg");
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
}

.info-block-text {
  display: flex;
  padding-right: 0;
  flex-direction: column;
  justify-content: right;
  text-align: left;
  z-index: 1;
  text-shadow: -1px -1px 30px #f8f9fa;
}

.info-block-text h4 {
  margin-bottom: 10px;
  text-shadow: -1px 1px 6px #f8f9fa;
}

.info-block-text h1 {
  margin-bottom: 20px;
  text-align: left;
}

.info-block-text h3 {
  margin-bottom: 30px;
}

.info-block-text button {
  width: 180px;
}

.logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 60px;
  margin: 50px 0;
}

.logos img {
  width: 90px;
  height: 90px;
}

.best-selling-products {
  margin-bottom: 20px;
}

.pet-info {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  transition: transform 0.2s ease;
}

.pet-info:hover {
  transform: translateY(-5px);
}

.news-and-blog {
  max-width: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.big-card-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.big-card {
  max-width: 360px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

.big-card img {
  width: auto;
  object-fit: cover;
  min-height: 200px;
  background-position: center;
}

.big-card-text {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

.big-card-text h2 {
  font-size: 16px;
  font-weight: 600;
}

.big-card-text p {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.6;
}

.fp-container,
.categories-container,
.big-card-container {
  display: grid;
  justify-content: center;
}
footer {
  background: url("../images/footer/bg.svg");
  background-size: cover;
  background-position: center;
  color: #000000;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  text-align: left;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid lightgray;
  max-width: 1200px;
  margin: 30px auto 0;
}

.payment-methods {
  display: flex;
  gap: 10px;
}

.payment-methods img {
  width: 40px;
  height: 25px;
}
/* TABLETS (≥481px) */
@media (min-width: 481px) {
  .contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    flex-direction: row;
    display: flex !important;
    width: auto;
  }

  .menu ul {
    flex-direction: row;
    gap: 20px;
    padding: 0;
  }

  .burger-menu {
    display: none;
  }

  .hero-frame h1 {
    font-size: 2.5rem;
  }

  .categories-container,
  .fp-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* SMALL SCREENS / LAPTOPS (≥769px) */
@media (min-width: 769px) {
  .content-wrap {
    max-width: 90%;
    padding: 20px;
  }

  .hero-frame {
    padding: 40px;
    margin-top: 60px;
  }

  .hero-frame h1 {
    font-size: 3rem;
  }

  .hero-frame h3 {
    font-size: 1.125rem;
    max-width: 60%;
  }

  .categories-container,
  .fp-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .info-block {
    padding: 80px 60px;
  }

  .info-block-text h1 {
    font-size: 2.5rem;
  }
}

/* DESKTOPS (≥1025px) */
@media (min-width: 1025px) {
  nav {
    gap: 40px;
    padding: 20px 40px;
  }

  .logo img {
    width: 140px;
  }

  .logos,
  .categories-nav,
  .categories-container {
    padding: 0 200px;
  }

  .search {
    max-width: 320px;
  }

  .hero-frame h1 {
    font-size: 3.5rem;
    max-width: 50%;
  }

  .hero-frame h3 {
    font-size: 1.25rem;
    max-width: 50%;
  }

  .categories-container,
  .fp-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .big-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .logos {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }

  .fp-container {
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* EXTRA LARGE SCREENS (≥1201px) */
@media (min-width: 1201px) {
  .content-wrap {
    max-width: 1200px;
  }

  .hero-frame h1 {
    font-size: 4rem;
  }

  .hero-frame h3 {
    font-size: 1.5rem;
  }

  .info-block-text h1 {
    font-size: 3rem;
  }

  .categories-container,
  .fp-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
