@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
#fd7e14 orange
#f8f9fa grey
font-family: "Poppins", sans-serif;
font-family: "Inter", sans-serif;

*/

/*
break-points:
a) Mobile devices – 320px—480px
b) iPads, Tablets – 481px—768px
c) Small screens, laptops – 769px—1024px
d) Desktops, large screens – 1025px—1200px
e) Extra large screens, TV – 1201px, and more
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #f8f9fa;
  min-height: 767px;
}

.content-wrap {
  max-width: 1920px;
  margin: auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
  color: #333;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-item img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

nav {
  display: flex;
  align-items: center;
  height: 88px;
  max-width: fit-content;
  border-radius: 40px;
  background-color: white;
  font-size: 20px;
  font-style: bold;
  gap: 24px;
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav a.active {
  text-decoration: none;
  color: #fd7e14;
  border-bottom: 3px solid #fd7e14;
  padding-bottom: 2px;
}

nav a:hover {
  text-decoration: none;
  color: #fd7e14;
}

.logo {
  width: 127.27px;
  height: 30px;
  gap: 8px;
}
